import React from 'react';
import ComponentDocs from '../../components/componentDocs';
import PropTypes from 'prop-types';
import { {{componentName}} } from '@patternfly/react-core';
import Example from '../../components/example';

const propTypes = {
  data: PropTypes.any.isRequired
};

const {{componentName}}Docs = ({ data }) => (
  <ComponentDocs data={data}>
    <Example title="Example Title">
      <div>Example Goes Here</div>
    </Example>
    <Example title="Another Example">
      <div>Another Example Goes Here</div>
    </Example>
  </ComponentDocs>
);

{{componentName}}Docs.propTypes = propTypes;

export const query = graphql`
  query {{componentName}}DocsQuery {
    componentMetadata(displayName: { eq: "{{componentName}}" }) {
      ...ComponentDocs
    }
  }
`;

export default {{componentName}}Docs;
