import React, { DetailedHTMLProps } from 'react';
import styles from '@patternfly/react-styles/css/{{typeDir}}/{{componentName}}';
import { css } from '@patternfly/react-styles';
import PropTypes from 'prop-types';

const defaultProps = {
children: null,
className: ''
};

interface {{ componentName }}Props {
children?: any;
className?: string;
}

const {{componentName}}: React.SFC<{{componentName}}Props> = (props) => (
  <div {...props} className={css(styles.{{ camelCase componentName }}, props.className)}>
    {props.children}
  </div>
  );

  {{ componentName }}.defaultProps = defaultProps;

  export default {{ componentName }};