import * as React from 'react';
import styles from '@patternfly/react-styles/css/{{typeDir}}/{{componentName}}';
import { css } from '@patternfly/react-styles';

interface {{ componentName }}Props {
  children?: any;
  className?: string;
}

export const {{componentName}}: React.FunctionComponent<{{componentName}}Props> = ({
  className,
  children
}: {{ componentName }}Props) => {
  return (
    <div {...props} className={css(styles.{{ camelCase componentName }}, props.className)}>
      {props.children}
    </div>
  );
}
